body {
background-color: black;
color: white;
font-size: 25px;
}

.razrab {
color: lightblue;
text-align: center;
}

.glav_menu1 {
color: white;
text-align: center;
}

.glav_menu {
color: white;
text-decoration: none;
}