<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login in site Mercedes Experience</title>
    <link rel="stylesheet" href="style_login.css">
</head>
<body>
  <form action="/reg" method="POST">
          <legend><b><p class="reg_vhod">Авторизация.</p></b></legend>

          <p class="login_avtorizacii">Введите логин:</p>
          <div class="login_field-center">
              <input class="login_field" type="text" value="" name="login:">
          </div>


          <p class="password_avtorizacii">Введите пароль:</p>
          <div class="password_field-center">
              <input class="password_field" type="password" value="" name="password:">
          </div>
          <br>
          <br>
          <br>
          <div class="mp7_orig_background">
              <img src="mq7-original-aspect.png">
          </div>
          <br>
          <br>
          <div class="submit_back_align-center">
              <input class="submit_back_center" type="submit">
          </div>
          <br>
  </form>
</body>
</html>